
.principal{
    margin: -25px 0vh;
    background-color: rgba(214, 187, 157, 0.4);
}

.division{
    display: flex;
    flex-direction: row ;
    margin: 20px;
}

.division div:first-child{
    padding: 15px 10px;
}

.pc-title{
    margin: 50px 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background-color: rgba(157, 214, 209, 0.767);
}
.responsive-title{
    display: none;
}


.picture{
    margin: 25px 0;
    width: 60%;
    
}

.picture img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


button{
    width: 100%;
}

/*ITINERARIO*/
.itinerario{
    background-color: rgba(233, 165, 152, 0.651);
    margin: 20px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itinerario p{
    text-align: justify;
}

/*PRECIO*/

.precio{
    display: flex;
    flex-direction: row;
}

.precio div{
    padding: 20px;
    width: 50%;
}

table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    border: 1px solid black;
    padding: 10px;

}
th{
    text-align: left;
    background-color: rgba(218, 80, 55, 0.9);
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.age{
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .division, .precio{
        flex-direction: column ;
        margin: 0px;
    }

    .division div:first-child{
        padding: 0px;
    }

    .description{
        margin: 0 30px;
    }

    .pc-title{
        display: none;
    }
    .responsive-title{
        display: block;
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }

    .picture{
        width: 100%;
    }

    .precio div{
        width: 100%;
        padding: 20px 50px 40px 50px;
    }
}
